<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>

    <header>
        <%- include( 'partials/header.ejs' ) %>
    </header>
    
    <h2><%=writer.name%></h2>
    <br/>
    <br/>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=writer.youTube.slice(32)%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>
    <br/>

    <!-- <b>Identity:</b> <%=writer.identity%>
    <br/> -->

    <b>Known For:</b> <%=writer.knownFor%>
    <br/>
    
    <%=writer.socials%>     <br/> <br/>


    <nav>
        <a href="/writers">Back to Writers Index</a>
    </nav>

</body>
</html>