<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( 'partials/head.ejs' ) %>
</head>
<body>

    <header>
        <%- include( 'partials/header.ejs' ) %>
    </header>

    <h2>
        <%=writer.firstName%>
        <%=writer.middle%>
        <%=writer.lastName%>
    </h2>

    <div id="edit-delete">
        <a href="/<%=writer.id%>/edit">
            <button class="edit">EDIT
            </button>
        </a>
        <form action="/<%=writer.id%>?_method=DELETE" method="POST">
            <button class="delete" type="submit" value="DELETE" />DELETE</button>
        </form>
    </div>

    <br/>
    <br/>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=writer.youTube.slice(32)%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br/>

    <div id="show-little-bio">
            <div id="known-for">
                <h5>Known For:</h5>
                <h6><%=writer.knownFor%></h6>
            </div>

            <% if (writer.notableAwards.length > 0){ %>
                <div id="notable-awards">
                    <h5>Notable Awards:</h5>
                    <h6><%=writer.notableAwards%></h6>
                </div>
              <% } %>

            <div id="social-media">
                <h5>Check out <%=writer.firstName%> on <%=writer.socialType%>:</h5>

                <% if (writer.socialType === "Twitter"){ %>
                    <h6>
                        <a href="http://twitter.com/<%=writer.socialHandle%>"target="_blank">
                            @<%=writer.socialHandle%>
                        </a>
                    </h6>
                <% } else if (writer.socialType === "Instagram") { %>
                    <h6>
                        <a href="http://instagram.com/<%=writer.socialHandle%>"target="_blank">
                           @<%=writer.socialHandle%>
                        </a>
                    </h6>
                <% } else { %>
                    <h6>
                        <a href="http://facebook.com/<%=writer.socialHandle%>"target="_blank">
                            @<%=writer.socialHandle%>
                        </a>
                    </h6>     
                <% } %>                  
            </div>
    </div>


    <a href="/index_<%=writer.identity%>_writers">
        <button class="nav-button">Back to <%=writer.identity%> Writers
        </button>
    </a>

</body>
</html>